.searchButton {
  min-width: 90vw;
  padding: 15px;
  margin-top: 3.5em;
}

@media (min-width: 640px) {
  .searchButton {
    min-width: 512px;
  }
}

.searchButton__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/*Estilos del input*/
.searchButton__input {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: black;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #dddddd;
  font-family: "Nunito Sans", "Montserrat", sans-serif;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
@media (min-width: 768px) {
  .searchButton__input {
    width: 30%;
  }
}

.searchButton__input:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.searchButton__input:focus {
  background-color: #ffffff;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/*Estilos del boton de lupa*/
.searchButton__buttton {
  color: #ffffff;
  background-color: #ffc107;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
