@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

footer,
header {
  width: 100% !important;
  margin: 0 !important;
}

:root {
  --colorPrimario: #3c48b9;
  --colorPrimarioHover: #646fd4;
  --colorSecundario: #6771ca;
  --colorClaro: #fffdf3;
}

.btnActivo:hover {
  background-color: var(--colorPrimario) !important;
}

button:active,
.tarjetaProducto:active {
  transform: scale(0.96) !important;
}
