 *{
  box-sizing: border-box;
  min-width: 0;
	padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

:root {
  font-family: 'Nunito Sans', 'Montserrat', sans-serif;
}
